fastapi
black
isort
uvicorn[standard]
alembic
sqlalchemy
python-dotenv
geoalchemy2
psycopg2-binary
requests
requests-cache
strawberry-graphql[fastapi]
jinja2
click
elasticsearch-dsl
tqdm
shapely
pytest
pytest-mock
requests-mock
coverage
boto3
httpx
pydantic_geojson
boto3-stubs[s3]