<link rel="stylesheet" href="{{ url_for('static', path='lib/leaflet/leaflet.min.css') }}" />
<script src="{{ url_for('static', path='lib/leaflet/leaflet.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='lib/tile.stamen.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='js/L.OSGraticule.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='lib/leaflet/leaflet.snogylop.min.js') }}"></script>