{% from '_utils.html.j2' import input, display_area %}
{% from '_pagination.html.j2' import pagination %}

{% if q %}
{% set title = "Search results" %}
{% set subtitle = "{:,.0f} results".format(total) %}
{% else %}
{% set title = "Search" %}
{% endif %}
{% extends "base.html.j2" %}

{% block headscripts %}
<link rel="stylesheet" href="{{ url_for('static', path='lib/choices/choices.min.css') }}" />
<script src="{{ url_for('static', path='lib/choices/choices.min.js') }}"></script>
<style>
.flex-grow {
    flex-grow: 1;
}
</style>
{{ super() }}
{% endblock %}

{% block bodyscripts %}
{{ super() }}
<script src='{{ url_for("static", path="js/choices.js") }}' type="text/javascript"></script>
{% endblock bodyscripts %}

{% block content %}

<form class="">
  <div class="fl w-100 w-70-l pa2">
    <div class="cf mv3 flex-l">
      <div class="ba br1 b--gray inline-flex flex-grow">
        <input name="q" id="search-autocomplete-q" class="h-100 input-reset bn pa3 near-black bg-white flex-grow header-font"
          type="text" placeholder="Search for a name or number" value="{{ q or '' }}" autocomplete="off">
      </div>
      <input type="submit" value="Search"
        class="f5 f4-l button-reset header-font fl pv3 ph4 tc bg-animate bg-yellow dim near-black pointer br2-ns br--right-ns  bw2 b--near-black ba">
    </div>

    <div class="mt4">
      {% if result %}
      <article class="message is-success pa2 bg-washed-green mb4">
        <div class="message-body">
          {{ "{:,.0f}".format(total) }} results found for "{{ q }}"
          Showing results 1 to 25.
        </div>
      </article>

      {% for area, score in result %}
      <div class="content measure-wide mb4">
        <h3 class="title pa0 mb1 mt0 mh0">
          <a href="{{ '' }}" class="dark-blue link underline-hover tracked-tight lh-copy normal">{{ area.name }}</a>
        </h3>
        <h4 class="subtitle mt0 mb2 pa0 f4 mid-gray normal">
          <a class="link mid-gray underline-hover" href="{{ '' }}">
              {{ area.get_areatype().name }}</a>
        </h4>
        <div class="cf mb2">
          <span class="dib nowrap bg-dark-blue f4 pv1 ph2 br2">
            <a href="{{ area.code }}" class="link  white code underline-hover normal nowrap">{{ area.code }}</a>
          </span>
        </div>
      </div>
      {% endfor %}

      {% else %}
      <article class="message is-error pa2 bg-washed-red mb4">
        <div class="message-body">
          No results found for "{{ q }}"
        </div>
      </article>
      {% endif %}

    </div>
  </div>

  <div class="fl w-100 w-30-l pa2">
    <h4 class="ma0 pa0">Area types</h4>

    <select class="js-choices w-100" style="max-width: 100%" multiple name="areatype">
      <option value="">Area type</option>
      {% for label, group in key_area_types %}
      <optgroup label="{{label}} area types">
        {% for areatype_code in group if area_types[areatype_code] %}
        <option value="{{ areatype_code }}" {% if areatype_code in areatype_ids %}selected{% endif %}>{{ area_types[areatype_code].name }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>

    <input type="submit" value="Filter organisations"
      class="f5 f4-l button-reset header-font pv3 ph4 tc bg-animate bg-yellow dim near-black pointer bw2 b--near-black ba" />
    <a href="" class="f6 link blue underline">Clear filters</a>
  </div>
</form>
{% endblock %}
